* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-primary:#FFFFFF;
    --color-secondary: #F2F2F2;
    --color-tercia: #F2994A;
    --font-family: 'Montserrat',sans-serif;
    --color-text-principal:#4E5150;
    --color-text: #333333;
    --complete-font: normal 600 16px/20px var(--font-family);
    --complete-font-secondary: normal 600 12px/15px var(--font-family);
    --complete-font-terciary:normal 600 14px/20px var(--font-family);
    --complete-font-quaternary: normal 600 18px/22px var(--font-family);
}

html, body {
    width: 80vw;
    margin: 0 auto;
    height: auto;
    background-color: var(--color-primary);
    font-family: var(--font-family);
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font: normal 600 36px/44px var(--font-family);
    color: var(--color-text);
    max-width: 1030px;
    margin: 2rem 0;
}

#principal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 2rem;
    justify-items: center;
    width: 100%;
    height: auto;
}


#form {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    max-width: 100%;
    grid-gap: 1rem;
}

#form h2 {
    font: var(--complete-font-quaternary);
    color: var(--color-text);
    width: 100%;
}

.titleIntermedio {
    font: var(--complete-font-quaternary);
    color: var(--color-text);
    width: 100%;
}

.labelPrincipal {
    font: var(--complete-font-secondary);
    color: #4F4F4F;
    align-self: center;
    width: 100%;
}

.inputPrincipal {
    width: 100%;
    height: 50px;
    border: 1px solid #828282;
    border-radius: 15px;
    align-self:flex-start;
}

.inputPrincipal::placeholder {
    font: var(--complete-font-terciary);
    color: #828282;
    padding-left: 15px;
}

.inputPrincipal:read-write,
.dividido span input:read-write {
    font: var(--complete-font-terciary);
    color: #828282;
    padding-left: 10px;
}

/* Icons Indivinduales */



/* Inputs separate of the others with their sections */

.dividido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    max-width: 100%;
}

.dividido span {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 100%;
    height: 100px;
}

.dividido span label {
    font: var(--complete-font-secondary);
    color: #4F4F4F;
    max-width: 90%;
}

.dividido span input, #state {
    height: 50px;
    border: 1px solid #828282;
    border-radius: 15px;
    width: 100%;
}

.dividido span input::placeholder {
    font: var(--complete-font-terciary);
    color: #828282;
    padding-left: 15px;
}


#state {
    font: var(--complete-font-terciary);
    color: #828282;
    padding-left: 15px;
}


#checkla {
    display: grid;
    grid-template-columns: .2fr 4fr;
    align-items: center;
    justify-items: flex-start;
}

.labelcheck {
    font: var(--complete-font-secondary);
    color: #4F4F4F;
}


#btn {
    max-width: 100%;
    margin: 1.2rem 0 1.2rem auto;
    width: 166px;
    height: 54px;
    border-radius: 12px;
    background-color: #F2994A;
    color: white;
    border: none;
}

#btn:hover {
    background-color: var(--color-secondary);
    color: #4F4F4F;
    border: 1px solid black;
    cursor: pointer;
}


#card {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 95%;
    background-color: var(--color-secondary);
    height: 535px;
    border-radius: 12px;
}

.cardChildren {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 138px;
    width: 85%;
    grid-gap: .2rem;
    justify-items: center;
    align-items: center;
}

.contentImage {
    width: 135px;
    height: 130px
}

.contentImage img {
    border-radius: 12px;
}

.contentPrice {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.contentPrice h3 {
    font: var(--complete-font);
    color: #4E5150;
}

.price {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.price .first {
    font: var(--complete-font);
    color: #F2994A;
}

.price .second {
    font: var(--complete-font-secondary);
    color: #4E5150;
}

.car {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    max-width: 80%;
    height: 50px;
    border: 1px solid #828282;
    border-radius: 12px;
}

.totalPage {
    display: grid;
    grid-template-columns: 3fr .5fr;
    width: 80%;
    border-top: 1px solid black;
    padding: .9rem 0;
}

.totalPage h3 {
    font: var(--complete-font-quaternary);
    color: var(--color-text);
}

@media screen and (max-width: 745px) {
     
    html,
    body {
        width: 90vw;
    }

    #form {
        width: 100%;
        order: 2;
        grid-gap: .6rem;
    }

    #card {
        order: 1;
        width: 100%;
    }

    

    .cardChildren {
        grid-gap: .8rem;
    }
}
    

